
<nav class ='navbar navbar-expand-lg navbar-light bg-light'>
<div class ='collapse navbar-collapse'>
  <ul class ='navbar-nav mr-auto'>
    <li class ='navbar-item'> 
      <a class="nav-link" routerLink='clientes'>  Clientes </a>
    </li>
    <li class ='navbar-item'>
      <a class ='nav-link' routerLink ='addCliente'>Adicionar Cliente</a>
    </li>
  </ul>
</div>
</nav>
<div class ='container pb-5 '>
<router-outlet></router-outlet>


</div>

<footer class ='footer bg-dark  text-light'>
  <p class ='text-center'>
   CRUD CLIENTES ANGULAR SPRING BOOT
  </p>
</footer> 

